#h11{color: white;}
nav{
    display: flex;
    gap: 16px;
}
#pfoot{
color: #B8C4D0;
position: absolute;
left: 100px;

}
#header{
display: flex;
align-items: center;
margin: 0 10px;
padding: 10px;
padding-top: 0;
padding-bottom: 0;
background-color: #0B192C;
}
#foot{
    display: flex;
    height: 110px;
align-items: center;
margin: 0 10px;
padding: 10px;
padding-top: 0;
padding-bottom: 0;
background-color: #0B192C;
}
footer h1{
    position: absolute;

}
header h1{
    position: absolute;
}
#links{
    position: relative;
    left: 1000px;
    bottom: 20px;
    font-size: 24px ;
}
footer #links{
    display: flex;
    gap: 15px;
bottom: 10px;}
footer #navbar{
    position: relative;
    top: 15px;
}
nav {
font-size: 21px;
font-family:Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: #B8C4D0;
    gap: 10px;
}
a:hover{
    color: #FF6675;
    transition:  0.5s;
}
.container{
align-items: center;
position: relative;
left: 480px;
}
#titlee{
    position: relative;
left: 90px;
color: #e74545;
}
.movie-poster{
    width: 100%;
    height: 320px;
    object-fit: contain;
    border-radius: 8px 8px 0 0;
    background-color: #0d0e12;
}
.search-bar input{
    position: relative;
left: 700px;
top: 5px;
background-color: #132238;
border: 1px solid #FFFFFF;
color: #FFFFFF;
padding: 8px 15px;
border-radius: 20px;
outline: none;
}
p:hover{
    color: #FF6675;

}
.question h2:hover{
        color: #FF6675;

}
body{
    background-color: #0B192C;
}
.faq{
    width: 80%;
    max-width: 900px;
    margin: 50px auto;
}

.question h2{
     text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
    color: #f8f8f8;
}

.para {
   text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
    color: #f8f8f8;
}

.faq details {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 18px 20px;
    background-color: #132238;
   
}

.faq summary {
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    color: #f8f8f8;
}

.faq details p {
    margin-top: 15px;
    line-height: 1.4;
    color: #d3cdcd;
}