
body{
    background-color: #0B192C;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#h11{color: white;}
nav{
    display: flex;
    gap: 16px;
}
#pfoot{
color: #B8C4D0;
position: absolute;
left: 100px;

}
.actions{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.details-btn{
    background-color: transparent;
    color: #e50914;
    border: 1px solid #e50914;
    padding: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    transition: all 0.3 ease;
    margin-top: auto;
    width: 100%;
}
.details-btn :hover{
    background-color: #e50914;
    color: #ffffff;
}
.btn-icons {
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    position: absolute;
    right: 0;
    top: -95px;
    border: none;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s;
}

.btn-icons:hover {
    background: rgba(245, 2, 2, 0.4);
}

#header{
display: flex;
align-items: center;
margin: 0 10px;
padding: 10px;
padding-top: 0;
padding-bottom: 0;
background-color: #0B192C;
}
#foot{
    display: flex;
    height: 110px;
align-items: center;
margin: 0 10px;
padding: 10px;
padding-top: 0;
padding-bottom: 0;
background-color: #0B192C;
}
footer h1{
    position: absolute;

}
header h1{
    position: absolute;
}
#links{
    position: relative;
    left: 1000px;
    bottom: 20px;
    font-size: 24px ;
}
footer #links{
    display: flex;
    gap: 15px;
bottom: 10px;}
footer #navbar{
    position: relative;
    top: 15px;
}
nav {
font-size: 21px;
font-family:Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: #B8C4D0;
    gap: 10px;
}
a:hover{
    color: #FF6675;
    transition:  0.5s;
}
.container{
align-items: center;
position: relative;
left: 480px;
}
#titlee{
    position: relative;
left: 90px;
color: #e74545;
}

.search-bar input{
    position: relative;
left: 700px;
top: 5px;
background-color: #132238;
border: 1px solid #FFFFFF;
color: #FFFFFF;
padding: 8px 15px;
border-radius: 20px;
outline: none;
}
.banner{
    position: relative;
    width: 100vw;
    height: 80vh;
    background:url(img/17db96b8fbd537d73305f2d869a68addm.jpg) no-repeat center center/cover;
    align-items: center;
    padding: 0 5%;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
}
.overly{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, rgba(0,0,0,0.9) 20% rgba(0,0,0,0.4) 60% , transparent 100%);
    z-index: 1;
}
.content-banner{
    position: absolute;
    bottom: 15%;
    left: 50px;
    font-size: 30px;
    color: white;
}
.btn-home{
    position: relative;
    z-index: 10;
    display: inline-block;
    text-decoration: none;
    background-color: #e50914;
    color: #ffffff;
    padding: 12px 30px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;

}
#filter-section{
padding: 20px  50px;
background-color: #0B192C;
}
.filter-buttons{
display: flex;
gap: 15px;
flex-wrap: wrap;
}
.filter-btn{
background-color: #1a1c23;
color: #a0a0a0;
border: 1px solid #2a2d3d;
padding: 8px 20px;
border-radius: 20px;
font-size: 14px;
transition: all 0.3s ease;
cursor: pointer;
}
.filter-btn:hover,
.filter-btn.active{
background-color: #e50914;
color: #ffffff;
border-color:#e50914 ;
}

.movies-section{
    padding: 30px 50px;
    background-color: #0B192C;
}
.movies-grid{
display: grid;
grid-template-columns: repeat(5,1fr);
gap: 25px;
align-items: stretch;
}
.movie-card{
    background-color: #132238;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #232631;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.movie-card:hover{
    transform: scale(1.15);
     transition: transform 0.3s ease;
}
.movie-info{
padding: 12px;
display: flex;
flex-direction: column;
flex-grow: 1;
justify-content: space-between;
}
.movie-info h3{
color: #ffffff;
font-size: 15px;
margin-bottom: 5px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.movie-info .year{
    color: #72798c;
    font-size: 12px;
    margin-bottom: 5px;
}
.movie-info .rating{
color: #ffb400;
font-weight: bold;
font-size: 13px;
margin-bottom: 10px;
}
.movie-poster{
    width: 100;
    height: 320px;
    object-fit: contain;
    border-radius: 8px 8px 0 0;
    background-color: #0d0e12;
}
.pagination{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
margin: 40px;
}
.page-link{
width: 35px;
height: 35px;
display: flex !important;
align-items: center !important;
justify-content: center !important;
text-align: center;
background-color: #16181e;
color: #fff;
text-decoration: none;
border-radius: 6px;
font-size: 14px;
border: 1px solid #232631;
}
.page-link .active{
background-color: #e50914;
border-color: #e50914;
}
#main-footer {
  background-color: #0d0f12;
  padding: 30px 60px;
  border-top: 1px solid #1a1d24;
  margin-top: 50px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Logo & Copyright Style */
.footer-brand .logo-text {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom:0 0 5px 0;
}

.footer-brand .logo-text span {
  color: #e50914;
}

.copyright {
  color: #6c727f;
  font-size: 12px;
  margin: 0;
}

/* Nav Links Style */
.footer-links {
  display: flex;
gap: 20px;
}

.footer-links {
  color: #a0a6b5;
  text-decoration: none;
  font-size: 13px;
}

.footer-links a:hover {
  color: #ffffff;
}

/* Social Media Style */
.footer-social {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #6c727f;
  font-size: 12px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: #a0a6b5;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #e50914;
}
