body{
    background-color: #121212;
    color: white;
    font-family: sans-serif;
}
header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 40px;
background-color: #1a1a1a;
}
.logo h2{
    margin: 0;
    color: #e50914;
}
nav{
    display: flex;
    gap: 20px;
}
nav a{
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}
nav a :hover, nav a .active{
    color: white;
    font-weight: bold;
}
.search-bar input{
background-color: #2a2a2a;
border: 1px solid #444;
color: white;
padding: 8px 15px;
border-radius: 20px;
outline: none;
}
.hero-section{
    background-image: linear-gradient(to right, rgba(15, 15, 15, 0.95), rgba(15, 15, 15, 0.3)), url('img/images.jfif');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 450px;
   display: flex;
   align-items: center;
   padding-left: 50px;
   margin-bottom: 30px ;
}
.hero-content h1{
font-size: 36px;
margin-bottom: 10px;
color: #ffffff;
}
.hero-content p{
font-size: 16px;
color: #b3b3b3;
max-width: 500px;
}



