body{
    background-color: #0B192C;
    padding: 0;
    margin:0 ;
    overflow-x: hidden;
}
h1{
    color: #FFFFFF;
}
h1:hover{
color: #FF6675;
}
#text{
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-left:  30px;
    padding-top: 5px;
color: #FFFFFF;
margin: 0;
}
#pp {
color: #B8C4D0;
display: flex;
margin: 0;

font-size: large;
}
#pp:hover{
    color: #FF6675;
}
#watch {
padding: 30px;
}
.card{
        padding-left: 25px;
    display: flex;

}
 img {
    height: 200px;
    width: 200px;
    position: relative;
    left: 110px;
    border: 2px solid #FF6675;
}
.butt{
    border-color: red;
    display: flex;
    position: relative;
    left: 700px ;
    top: 50px;
    border-radius: 35px;
    width: 150px;
    height: 60px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
    background-color: rgb(220, 15, 15);
}
.butt1{
    border-color: red;
    display: flex;
    position: relative;
    left: 650px ;
    top: 50px;
    border-radius: 35px;
    width: 150px;
    height: 60px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
    background-color: rgb(220, 15, 15);
}
.butt2{
    border-color: red;
    display: flex;
    position: relative;
    left: 680px ;
    top: 50px;
    border-radius: 35px;
    width: 150px;
    height: 60px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
    background-color: rgb(220, 15, 15);
}
.butt3{
    border-color: red;
    display: flex;
    position: relative;
    left: 700px ;
    top: 50px;
    border-radius: 35px;
    width: 150px;
    height: 60px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
    background-color: rgb(220, 15, 15);
}
.butt4{
    border-color: red;
    display: flex;
    position: relative;
    left: 730px ;
    top: 50px;
    border-radius: 35px;
    width: 150px;
    height: 60px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
    background-color: rgb(220, 15, 15);
}
.butt5{
    border-color: red;
    display: flex;
    position: relative;
    left: 760px ;
    top: 50px;
    border-radius: 35px;
    width: 150px;
    height: 60px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
    background-color: rgb(220, 15, 15);
}
.h{
    position: relative;
    left: 140px;
    color: whitesmoke;
}
.hh{
    position: relative;
       right: 45px;
       top: 60px;
       font-size: 20px;
           color: B8C4D0;

}
.h11{
    position: relative;
    left: 140px;
    color: whitesmoke;
}
.h22{
    position: relative;
       right: 115px;
       top: 60px;
       font-size: 20px;
           color: #B8C4D0;

}
.rating1{
      position: relative;
       right: 100px;
top: 65px;
    color: whitesmoke;

}
.h12{
    position: relative;
    left: 140px;
    color: whitesmoke;
}
.h21{
    position: relative;
       right: 75px;
       top: 60px;
       font-size: 20px;
           color: #B8C4D0;

}
.rating2{
      position: relative;
       right: 60px;
top: 65px;
    color: whitesmoke;

}
.h112{
    position: relative;
    left: 140px;
    color: whitesmoke;
}
.h221{
    position: relative;
       right: 15px;
       top: 60px;
       font-size: 20px;
           color: #B8C4D0;

}
.rating3{
      position: relative;
       right: 0px;
top: 65px;
    color: whitesmoke;

}
.rating{
      position: relative;
       right: 29px;
top: 65px;
    color: whitesmoke;
}
.line{
    margin: 0;
text-align: center;
color: #FFFFFF;
}
.line:hover{
  color:#FF6675 ;  
}
#h11{color: white;}
nav{
    display: flex;
    gap: 16px;
}
#pfoot{
color: #B8C4D0;
position: absolute;
left: 100px;

}
#header{
display: flex;
align-items: center;
margin: 0 10px;
padding: 10px;
padding-top: 0;
padding-bottom: 0;
background-color: #0B192C;
}
#foot{
    display: flex;
    height: 110px;
align-items: center;
margin: 0 10px;
padding: 10px;
padding-top: 0;
padding-bottom: 0;
background-color: #0B192C;
}
footer h1{
    position: absolute;

}
header h1{
    position: absolute;
}
#links{
    position: relative;
    left: 1000px;
    bottom: 20px;
    font-size: 24px ;
}
footer #links{
    display: flex;
    gap: 15px;
bottom: 10px;}
footer #navbar{
    position: relative;
    top: 15px;
}
nav {
font-size: 21px;
font-family:Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: #B8C4D0;
    gap: 10px;
}
a:hover{
    color: #FF6675;
    transition:  0.5s;
}
.container{
align-items: center;
position: relative;
left: 480px;
}
#titlee{
    position: relative;
left: 90px;
color: #e74545;
}
.search-bar input{
    position: relative;
left: 700px;
top: 5px;
background-color: #132238;
border: 1px solid #FFFFFF;
color: #FFFFFF;
padding: 8px 15px;
border-radius: 20px;
outline: none;
}